*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;     /*to make them vertical */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
    gap: 30px;
    padding: 20px;
}
.container-qr {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
    white-space: normal;
}

#qr-input {
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#generate-btn {
    padding: 12px 20px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
}

#generate-btn:hover {
    background-color: #0056b3;
}

#qr-code {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

#download-btn {
    display: none;
    background-color: #28a745;;
    color: white;
    align-items: center;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin: 20px auto;
    width: fit-content;
    max-width: 250px;
    font-weight: bolder;
    text-align: center;
}
#download-btn:hover {
    background-color: #218838;
}

.container-shortner {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 90%;
}

#url-input {
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#shorten-btn {
    padding: 12px 20px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
}

#shorten-btn:hover {
    background-color: #0056b3;
}

#short-url {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay {
    display:none;
}

.result-container {
    flex-direction: column;
    background-color: white;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 450px;
    width: 90%;
    overflow: hidden;
    position: relative;
    animation: popIn 0.3s ease-out;
}

@keyframes popIn {
    form { transform: scale(0.8); opacity: 0};
    to { transform: ascale(1); opacity: 01;}
}

.rc-head {
    background-color: rgb(17, 233, 28);
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

h2 {
    color: white;
    font-weight: 600;
}
#cut-btn {
    background: #000;
    color: white;
    font-size: large;
    font-weight: bolder;
}
#cut-btn:hover {
    color: #eee;
    transform: scale(0.9);
}

.rc-display {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.rc-display form {
    border: 1px solid blue;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.rc-display p {
    color: #666363; 
    font-size: 0.85rem;
    margin-bottom: 8px;
    text-align: left;
}

#result-link {
    padding: 8px 0;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1rem;
    color:#333;
    outline: none;
}   

#result-btn {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#result-btn:hover {
     background-color: #0056b3;
}

